:root {
	--black: #000;
	--white: #fff;
	--blue: #33ccff;
	--red: #ff4444;
	--green: #77ff99;
	--cyan: #44ffef;
	--yellow: #ffef33;
	--pink: #ff2a78;
	--magenta: #f70cf7;
	--orange: #ffbc34;
	--grey: #cccccc;
	--dark: #282a36;
	--sans-serif: "Karla", "Franklin Gothic", sans-serif;
	--monospace: IBM Plex Mono, monospace;
	--7seg-font: "7seg";

	--font-family: var(--sans-serif);

	--fill: var(--black);
	--line: var(--white);
	--label-fill: var(--black);
	--label-line: var(--white);

	--7seg-fill: var(--black);
	--7seg-line: var(--red);

	--black-encoder-fill: #333;
	--black-encoder-line: var(--white);

	--scroll-encoder-fill: var(--black-encoder-fill);
	--scroll-encoder-line: var(--black-encoder-line);

	--gold-encoder-fill: gold;
	--gold-encoder-line: black;

	--code-fill: var(--dark);
}

* {
	box-sizing: border-box;
	letter-spacing: -0.05em;
}

@font-face {
	font-family: "Karla";
	src: url("/fonts/karla.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Karla";
	src: url("/fonts/karla-italic.ttf") format("truetype");
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: "7seg";
	src: url("/fonts/7seg.ttf") format("truetype");
	font-display: swap;
}

html {
	background: var(--fill);
	color: var(--line);
	font-family: var(--sans-serif);
	font-size: 1.2em;
}

body {
	margin: 0;
}

.main-header {
	padding: 0.5em;
	font-size: 1.2em;
}

.main-header img {
	max-height: 1em;
}

.main-header a {
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: flex;
	gap: 7px;
	align-items: center;
}

.main-header span {
	letter-spacing: -1px;
}

.main-wrapper {
	display: flex;
	gap: 1em;
}

#navigation-toggle {
	display: none;
}

@media screen and (max-width: 768px) {
	#navigation-toggle {
		display: inline-flex;
		border: 2px solid;
		cursor: pointer;
		padding: 0.5em 1em;
	}

	#navigation-toggle input {
		width: 1px;
		height: 1px;
		opacity: 0;
		position: absolute;
	}

	#navigation-toggle:has(:checked) {
		background: var(--line);
		color: var(--fill);
	}

	.main-wrapper {
		display: block;
	}

	#navigation-items {
		display: none;
	}

	#navigation-toggle:has(:checked) ~ #navigation-items {
		display: block;
	}
}

.sidebar {
	width: 14em;
	font-size: 0.9rem;
	padding: 0 1em;
}

.sidebar details {
	appearance: none;
}

.sidebar summary {
	font-weight: bold;
	cursor: pointer;
	list-style-type: none;
}

.sidebar details > summary::before {
	content: "►";
	display: inline-block;
	font-size: .8em;
}

.sidebar details[open] > summary::before {
	content: "▼";
}

.sidebar summary::marker,
.sidebar summary::-webkit-details-marker {
	display: none;
}

.sidebar a,
.sidebar li > span {
	text-decoration: none;
	color: var(--white);
	display: inline-block;
	height: 100%;
	width: 80%;
}

.sidebar ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li a > span {
	padding: 0 2px;
}

.sidebar [aria-current="page"] span {
	background: var(--pink);
	font-weight: bold;
	border-radius: 4px;
}

.sidebar ol ol {
	padding-left: 1em;
}

.sidebar-content > ol > li > ol {
	padding-left: 0;
}

.sidebar-content li a {
	white-space: nowrap;
}

.breadcrumbs ul {
	display: flex;
	list-style-type: none;
	gap: 5px;
	margin: 0;
	padding: 0;
}

.breadcrumbs ul li::after {
	content: "►";
	font-size: 0.5em;
	margin-left: 5px;
	opacity: 0.7;
}

.breadcrumbs ul li a {
	color: #fafafa;
	font-size: 16px;
	text-decoration: none;
	border-bottom: 2px solid;
	border-bottom-color: var(--fill);
	transition: border-bottom-color 0.2s;
}

.breadcrumbs ul li a:hover {
	border-bottom-color: var(--line);
}

main {
	max-width: 80ex;
}

main h1:first-child {
	margin-top: 0;
}

main a {
	color: var(--blue);
}

main code {
	border: 1px solid color-mix(in srgb, var(--line) 30%, var(--code-fill));
	padding: 1px 4px;
	border-radius: 4px;
	background: color-mix(in srgb, var(--line) 5%, var(--code-fill));
}

main pre code {
	border: none;
}
